.info {
  text-align: center;
  margin-bottom: 25px;
  padding-bottom: 25px;
  background: rgba(255, 255, 255, 0.7);
  font-weight: 900;
  margin: 50px;
}

.new {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 490px;
  margin-right: 490px;
  padding-bottom: 100vh;
}

.new-background {
  background-image: url(https://i.imgur.com/dKeacjI.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.show {
  background-image: url(https://i.imgur.com/aLKRCJ9.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-bottom: 0px;
  padding-bottom: 80vh; */
  height: 100vh;
}

.box-margin {
  margin-top: 2vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.card {
  margin-left: 25vw;
  margin-right: 25vw;
}

.chart-title {
  background: rgba(202, 202, 202, 0.9);
  text-align: center;
}
